// COLORS
$bg-black: #131516;
$utt-green: #1ab192;
$main_green:  #4BC596;
$dark-mode: #181a1b;
$dark-mode2: #18181B;
$grey: #666666;

  
/* FONTS */
$titles_font: "Open Sans", sans-serif;
$body-font: "Signika", sans-serif; 
$special_font: 'Caveat', cursive;
 
// MEDIA QUERIES SIZES
$cellphone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1400px;