@use '../base/variables' as v;

/* ? UTILITIES */
.blue_text {
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 2px v.$blue-light;
  }
  
  .green_text {
    color: v.$utt-green;
    font-weight: bold;
  }