@use '../base/variables' as v;
@use '../base/mixins' as m;
/*! PROJECTS CARDS SECTION  */

.project_type_container{
  margin-bottom: 6rem;
}
.projects_title{
  margin-bottom: 3rem;
}
.projects_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

