@use "../base/variables" as v;
@use "../base/mixins" as m;

/* ! CONTACT_ICONS */

.ul_icons {
  display: flex;
  padding: 0;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  @include m.tablet{
    display: none;
    
  }

  .li_icon {
    height: 48px;
    width: 40px;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    justify-content: center;

    &:hover {
      transform: translateY(-6px);
    }
  }
}

.icon_link:hover {
  color: v.$blue-light;
}

@include m.tablet {
  .left {
    position: fixed;
    left: 40px;
    z-index: 10;
    height: 22rem;
    bottom: 15rem;

    .ul_icons {
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
  }
}
