@use "../base/mixins" as m;
@use "../base/variables" as v;

/* ! GET IN TOUCH SECTION */
.contact {
  height: 35rem;
  margin: 0 auto;
  text-align: center;
  padding: 7rem;
  width: auto;

  .get_in_touch_title {
    color: v.$blue-light;
    font-size: 3rem;
    margin: 1rem;
  }
}

.contact_message {
  font-size: 1.7rem;
  font-weight: 600;
  margin: auto;
  width: auto;
  margin-bottom: 2rem;

  @include m.tablet {
    width: 35rem;
  }


}

.contact_button {
  display: flex;
  height: auto;
  color: v.$bg-black;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid v.$blue-light;
  text-transform: uppercase;
  color: v.$blue-light;
  z-index: 1;
  width: 12rem;
  height: 5rem;
  margin: auto;
  justify-content: center;
}

.contact_button::before,
.contact_button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: v.$blue-light;
  transition: 1s ease;
}

.contact_button::before {
  top: -1em;
  left: -1em;
}

.contact_button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.contact_button:hover::before,
.contact_button:hover::after {
  height: 410px;
  width: 410px;
}

.contact_button:hover {
  color: white;
}

.contact_button:active {
  filter: brightness(0.8);
}
