@use "../base/variables" as v;
@use "../base/mixins" as m;

// TYPING EFFECT

.typingEffect_div {
  text-align: left;
  height: auto;
  padding: 3rem;

  h1 {
    font-size: 7rem;
  }
  h2 {
    line-height: 4rem;
    font-size: 2.8rem;
    font-weight: 800;

    @include m.desktop {
      font-size: 3rem;
    }
  }

  h1,
  h2 {
    margin: 1rem;
  }
}

@include m.cellphone {
  .typingEffect_div {
    height: auto;
    padding: 2rem;
  }
}

.introduction {
  height: auto;

  @include m.tablet{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 6rem 1rem;
    height: 28rem;
  }
  @include m.desktop {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 25rem;
    gap: 3rem;
    margin: 6rem 1rem;
  }

  @include m.desktopXL{
    height: 31rem;
  }

  .introduction_photo_container {
    height: 30rem;
    padding: 2rem;

    @include m.tablet{
      padding: 0.4rem;
      border: 5px solid white; /* Borde transparente */
      border-radius: 50%; /* Hacer un borde circular */
      background-color: transparent; /* Fondo transparente */
      height: 26.5rem;
    }

    @include m.desktop {
      padding: 0.4rem;
      border: 5px solid white; /* Borde transparente */
      border-radius: 50%; /* Hacer un borde circular */
      background-color: transparent; /* Fondo transparente */
      height: auto;
      
    }
  }

  .introduction_text_container {
    display: flex;
    align-items: center;

    @include m.tablet{
      padding: 3rem;
    }
  }
}

// Photo styles
.introduction_photo {
  border-radius: 50%;
  width: 95%;
  height: 95%;
  object-fit: cover;
  padding: 1rem;
  margin: 0.6rem;
  border: 3px solid white;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px v.$blue-light;
  z-index: -100;
}

.who_am_i {
  color: v.$blue-light;
  text-align: center;
  font-family: v.$titles_font;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.intro_text {
  margin: auto;
  font-size: 1.3rem;
  color: white;
  text-align: center;

  @include m.tablet {
    font-size: 1.5rem;
   
  }

  @include m.desktop {
    font-size: 1.8rem;
  }

  @include m.desktopXL {
    font-size: 1.9rem;
  }
}
