@use "../base/variables" as v;
@use "../base/mixins" as m;

// TYPING EFFECT

.typingEffect_div {
  text-align: left;
  height: auto;
  padding: 3rem;

  @include m.cellphone {
    height: auto;
    padding: 2rem;
  }

  h1 {
    font-size: 7rem;
  }
  h2 {
    line-height: 4rem;
    font-size: 2.8rem;
    font-weight: 800;

    @include m.desktop {
      font-size: 3rem;
    }
  }
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px v.$main_green;
  z-index: -100;
}

/* About me section */

.about_me_section {
  padding: 2rem;

  .introduction {
    @include m.desktop {
      display: grid;
      grid-template-columns: 35% 65%;
    }
  }
}

.introduction_photo_container {
  .introduction_photo {
    margin-bottom: 3rem;

    @include m.desktop{
      margin-bottom: 0;
    }
  }
}

.introduction_text_container {

  border-radius: 7px;
  padding: 2rem;
  @include m.desktop {
    
  }

  .who_am_i_title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.8rem;
    font-family: v.$special_font;
  }

  .introduction_text {
    font-size: 1.8rem;

    @include m.tablet {
      font-size: 1.5rem;
    }
  }
}
