@use '../base/variables' as v;
@use '../base/mixins' as m;
/*! PROJECTS CARDS SECTION  */

.project_type_container{
  margin-bottom: 6rem;
}
.projects_title{
  margin-bottom: 3rem;
}
.projects_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.project_card{
  position: relative;
  width: 30rem; /* Ancho del contenedor del proyecto */
  height: 16.6rem;
  overflow: hidden;
  border-radius: 7px;

  .project_image_container{
    height: 100%;

    img{
      height: 100%;
      width: 100%;
      transition: opacity 0.5s ease-in; /* Transición de opacidad */
    }
  }
}

.project_card:hover .project_image_container img {
  opacity: 0; /* Al hacer hover, oculta la imagen */
}

.project_details_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darken(v.$main_green, 18); 
  color: #fff; /* Color de texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s ease-in; /* Transición de opacidad */
}

.project_card:hover .project_details_container {
  opacity: 1; /* Al hacer hover, muestra los detalles */
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.buttons {
  margin-top: 2rem;
}

.github-button,
.demo-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: v.$dark-mode;
  color: #fff;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.5s; /* Transición de color de fondo */
}




