@use "../base/mixins" as m;
@use "../base/variables" as v;

.skills_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .skills_title_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .skill_title {
      font-size: 4rem;
      color: v.$main_green;
      text-decoration:underline ;
    }
  }
  
  .skills_icons_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    padding: 2rem;

    .skill_icon {
      height: 8rem;
      svg {
        height: 100%;
        width: 100%;
        stroke-width: 1px;
      }
    }
  }
}

